/* Page header */
.items-header {
    border-bottom: 1px solid #333;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-header > h2 {
    font-size: 1.9em;
}

/* Modal form */
.items-modal-form {
    display: grid;
    grid-template-areas: "nome tipo" "efeito efeito" ". botoes";
    column-gap: 10px;
}

.items-modal-form input, .items-modal-form textarea {
    display: block;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px 8px;
}

.items-modal-form textarea {
    width: 100%;
    min-height: 60px;
    max-height: 120px;
    resize: vertical;
}

.items-modal-form > label > span {
    display: block;
    margin-bottom: 4px;
    font-size: 1.2em;
}

.nome {
    grid-area: nome;
}

.tipo {
    grid-area: tipo;
}

.efeito {
    grid-area: efeito;
}

.form-actions {
    margin-top: 8px;
    grid-area: botoes;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-actions > button:first-child {
    margin-right: 10px; 
}

/* Items table */
.items-table {
    margin: 20px 10px 0px 10px;
    width: calc(100% - 20px);
    background-color: #444;
    border-collapse: collapse;
}

.items-table th {
    background-color: #444;
    color: #fdfdfd;
    font-size: 1rem;
    text-align: left;
    padding: 8px 6px;
}

th.th-actions {
    text-align: center;
    width: 12%;
}

.items-tbody td {
    font-size: 0.9em;
    background-color: #f9f9f9;
    padding: 6px;
}

td.items-actions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

td.items-actions > button:last-child {
    margin-left: 20px;
}