/* Default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

/* Header, footer and main size */
body, input, textarea {
    font-family: sans-serif;
    color: #333;
}

main {
    min-height: 85vh;
}

.container {
    width: 85vw;
    margin: auto;
}

.main-header {
    background-color: #333;
    color: #fdfdfd;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header > h1 {
    cursor: pointer;
    font-weight: normal;
}

.main-header > h1:hover {
    text-decoration: underline;
}

.main-menu > ul {
    list-style: none;
    margin-right: 10px;
}

.main-menu li {
    font-size: 1.05em;
    color: #333;
    cursor: pointer;
    padding: 8px 10px;
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 4px;
    transition: all 0.3s;
}
.main-menu li:hover {
    color: #fdfdfd;
    background-color: rgba(120, 120, 120, 0.5);
}

.main-content {
    margin: 0 10px;
}

.main-footer {
    color: #fdfdfd;
    background-color: #333;
    padding: 15px;
}

.copyright {
    font-size: 1.2em;
}

/* Modal */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    animation: show 0.5s;
}

.modal {
    position: relative;
    background-color: #fdfdfd;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
}

.close-modal {
    position: absolute;
    top: 1px;
    right: 6px;
    font-size: 1.8em;
    background-color: transparent;
    border: 0;
    color: #aaa;
    cursor: pointer;
}

.close-modal:hover {
    color: #333;
}

.modal-header {
    font-size: 1.4em;
    padding: 0 0 10px 5px;
    border-bottom: 1px solid #777;
    margin-bottom: 16px;
    text-align: center;
}

/* Buttons */
.plus-btn {
    font-size: 0.9em;
    color: #118afc;
    background-color: transparent;
    font-weight: bold;
    border: 1px solid #118afc;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.plus-btn:hover {
    color: #fdfdfd;
    background-color: #118afc;
}

.btn-submit {
    background-color: transparent;
    font-size: 0.9em;
    color: #46b758;
    padding: 6px 12px;
    border: 1px solid #46b758;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.btn-submit:hover {
    background-color: #46b758;
    color: #fdfdfd;
}

.btn-cancel {
    background-color: transparent;
    font-size: 0.9em;
    color: #777;
    padding: 6px 12px;
    border: 1px solid #777;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.btn-cancel:hover {
    background-color: #777;
    color: #fdfdfd;
}

.btn-edit {
    color: #118afc;
    font-weight: bold;
    font-size: 1.5em;
    background-color: transparent;
    transform: rotate(90deg);
    border: 0;
    cursor: pointer;
}

.btn-delete {
    color: rgb(197, 83, 73);
    font-size: 1.4em;
    font-weight: bolder;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

/* Utils */
.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

/* Messages */
[message-container] {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.message {
    font-size: 1.25em;
    padding: 16px;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    animation: appear 2.7s;
    animation-fill-mode: forwards;
}

.success {
    background-color: #46b758;
}

.error {
    background-color: rgb(197, 83, 73);
}

/* Animations */
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes appear {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}